.container {
  background: linear-gradient(
    90deg,
    #1f005c,
    #3a005e,
    #6d0061,
    #a31d5f,
    #d0505c,
    #ed815e,
    #fba666,
    #ffb56b,
    #1f005c
  );
}

.boxContainer {
  outline: 1px solid transparent;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
  background: linear-gradient(
    205deg,
    hsl(204deg 38% 19%) 0%,
    hsl(200deg 40% 18%) 2%,
    hsl(195deg 40% 17%) 6%,
    hsl(191deg 38% 17%) 13%,
    hsl(190deg 37% 17%) 24%,
    hsl(194deg 43% 17%) 38%,
    hsl(199deg 46% 17%) 54%,
    hsl(204deg 45% 18%) 68%,
    hsl(208deg 37% 19%) 81%,
    hsl(213deg 30% 19%) 90%,
    hsl(218deg 24% 20%) 96%,
    hsl(224deg 18% 20%) 100%
  );
}

.itemBox {
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
}

.techImage {
  outline: 1px solid transparent;
  position: absolute;
  transform: translateZ(120px);
  -moz-transform: translateZ(120px);
  -webkit-transform: translateZ(120px);
  height: 90px;
  width: 150px;
}

.card {
  background: "white";
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.textcontainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .line {
    width: 70%;
    height: 300px;
    position: relative;
    overflow: hidden;
    span {
      position: absolute;
      font-size: 3rem;
      line-height: 4.2rem;
    }
  }
}
